body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: #ffffff;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(155, 89, 182, 0.3);
    text-align: center;
    border: 2px solid #e5d4f4;
}

h2 {
    color: #7a2cb7;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #b573d1;
    outline: none;
}

button {
    background: #7a2cb7;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #9b47d9;
}

#hasil {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}